<div style="text-align: center">
  <!-- <p>{{timer < 10? '00:0'+timer : '00:'+timer}}</p>
  <button *ngIf="!isStarted" (click)="setTimer()">Start Timer</button>
  <button *ngIf="isStarted" (click)="pauseTimer()">Pause Timer</button> -->
  <button (click)="createTodo()">Create Todo</button>
  <button (click)="listTodos()">Get Todos</button>

  <div *ngFor="let todo of allTodos">
    <hr>
    <p>Title: {{todo.name}}</p>
    <p>Body: {{todo.body}}</p>
    <p>{{todo.completed? "Completed" : "Pending"}}</p>
  </div>

</div>